$background-color: #0743B8;
$text-color: #FF8206;
$headings-font: "font-family: 'Ubuntu', sans-serif;";
/* <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap" rel="stylesheet"> */
/* <link href="https://fonts.googleapis.com/css2?family=Lato&family=Ubuntu:wght@400;700&display=swap" rel="stylesheet"> */
$paragraph-font: "font-family: 'Lato', sans-serif;";
/* Created my free logo at LogoMakr.com */
/* LogoMakr_2LsZ3i.png is my logo */